* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-cyan: hsl(179, 62%, 43%);
    --color-cyan-ligth: #4abebd;
    --color-right-yellow: hsl(71, 73%, 54%);
    --color-light-gray: #ffffff;
    --color-grayish-blue-text: hsl(218, 22%, 67%);
    --color-grayish-blue: #e6eff6;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    background-color: var(--color-grayish-blue);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.base {
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
}

.container {
    background-color: var(--color-light-gray);
    border-radius: 5px;
    margin: 50px auto;
    width: 90%;
    max-width: 778px;
    min-width: 375px;
    display: grid;
    grid-template-areas: "join" "subscription" "why";
}

.join {
    grid-area: join;
}

.join, .subscription, .why {
    padding: 30px;
}

.join__titulo {
    color: var(--color-cyan);
    font-weight: 700;
}

.join__subtitulo {
    color: var(--color-right-yellow);
    font-size: 1rem;
}

.join__texto {
    color: var(--color-grayish-blue-text);
    font-size: .8rem;
}

.subscription {
    background-color: var(--color-cyan);
    grid-area: subscription;
}

.subscription__titulo {
    color: white;
}

.subscription__content__price {
    display: flex;
    column-gap: .5rem;
}

.subscription__price {
    color: var(--color-light-gray);
    font-size: 1.5rem;
    font-weight: 700;
}

.subscription__content__price .subscription__texto {
    color: rgba(255, 255, 255, .5);
}

.subscription__texto {
    color: var(--color-light-gray);
}

.subscription__button {
    background-color: var(--color-right-yellow);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 10px 0;
    color: var(--color-light-gray);
    display: block;
    text-decoration: none;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.why {
    background-color: var(--color-cyan-ligth);
    grid-area: why;
}

.why__titulo {
    color: var(--color-light-gray);
}

.why__texto {
    color: var(--color-grayish-blue);
    width: 250px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 2rem auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
    .container {
        
        grid-template-areas: "join join" "subscription why";
        grid-template-columns: 1fr 1fr;
    }
    .join {
        grid-template: join;
    }
    .subscription {
        grid-template: arte;
    }
    .why {
        grid-template: why;
    }
}